# Default ignored files
/../../../../../../../ross-platform-lab-1/.idea/shelf/
/../../../../../../../ross-platform-lab-1/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../../../../ross-platform-lab-1/.idea/httpRequests/
# Ignored default folder with query files
/../../../../../../../ross-platform-lab-1/.idea/queries/
# Datasource local storage ignored files
/../../../../../../../ross-platform-lab-1/.idea/dataSources/
/../../../../../../../ross-platform-lab-1/.idea/dataSources.local.xml
